{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1>Add Pet Profile</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <!-- Name Field -->
        <div class="row mb-3">
            <label for="id_name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                {{ form.name }}
            </div>
        </div>

        <!-- Breed Field -->
        <div class="row mb-3">
            <label for="id_breed" class="col-sm-2 col-form-label">Breed</label>
            <div class="col-sm-10">
                {{ form.breed }}
            </div>
        </div>

        <!-- Date of Birth Field -->
        <div class="row mb-3">
            <label for="id_dob" class="col-sm-2 col-form-label">Date of Birth</label>
            <div class="col-sm-10">
                {{ form.dob }}
            </div>
        </div>

        <!-- Photo Field -->
        <div class="row mb-3">
            <label for="id_photo" class="col-sm-2 col-form-label">Photo</label>
            <div class="col-sm-10">
                {{ form.photo }}
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary mt-3">Save Pet Profile</button>
    </form>
</div>


{% endblock %}
