<!DOCTYPE html>
<html>
<head>
    <title>Book Appointment</title>
</head>
<body>
    <h1>Book an Appointment for {{ pet.name }}</h1>
    
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="vet">Veterinarian:</label>
            <select name="vet" required>
                {% for vet in veterinarians %}
                    <option value="{{ vet.id }}">{{ vet.name }} - {{ vet.expertise }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="appt_datetime">Appointment Date & Time:</label>
            <input type="datetime-local" name="appt_datetime" required>
            <label for="id_description">Description:</label>
            <textarea name="description" id="id_description" class="form-control">{{ form.description.value }}</textarea>
        </div>
        <button type="submit">Book Appointment</button>
    </form>
</body>
</html>
